.headerBody {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
  background-color: #ffffff;
}

.navbar {
  float: left;
}

/*
.signinout {
  margin-top: 0px;
  float: right;
}
*/
