.color-nav,

.navbar-brand {
  /*color: */
}

.navbar-nav {
  background-color: #fffff;
  height: 50px;
}

.nav-link {
  color: #808080;
  padding-top: 10px;
}

.navbar-toggler, .nav-item {
  border-color: #808080;
  background-color: #ffffff;
  color: #808080;
}
