.form-group {
  margin-top: 30px;
  margin-left: 175px;
  background-color: #f0ffff;
}

.require {
  margin-left: 175px;
}

#createPost {
  float: left;
}

#cancel {
  margin-left: 20px;
  float: left;
  color: #ffffff;
}
