#postContainer {
  margin-top: 40px;
  border: 1px solid #e8e8e8;
  background-color: #e8e8e8;
  width: 800px;
}

.form-group {
  margin-top: 30px;
  margin-left: 125px;
}

#title, #category, #description {
  width: 500px;
}

.require {
  margin-left: 175px;
}

#createPost {
  float: left;
}

#cancel {
  margin-left: 20px;
  float: left;
  color: #ffffff;
}

#createPost, #cancel {
  width: 100px;
}

